body {
	margin: 0px -15px 60px -15px;
}

html {
  font-size: 1rem;
}

.bg-blue {
	background-color:#2e72b6;
}

.header-text {
	margin: 14px;
	text-align:left;
	vertical-align:middle;
}

.header-logo {
	margin: 10px 0 0 10px;
	vertical-align:middle;
}

.hd-text {
	font-family:Tahoma,Verdana,Arial,'Sans Serif';
	color:white;
	font-size:14px; 
}

.hd-text-1 {
	font-family:Verdana,Geneva,Arial;
	font-size:30px;
	font-weight:bold;
	color: #ffffff;
}

.hd-text-2 {
	font-family:Verdana,Geneva,Arial;
	font-size:30px;
	font-weight:bold;
	color: #ff871b;
}

.header-bottom-line {
	background-color:#e6e6e6;
	height:3px;
}

.marquee {
	height:30px;
	overflow:hidden;
	position:relative;
	background:#27519a;
	color:yellow;
	border:0;
	padding:0;
	border-spacing:0;
	font-family:Tahoma,Verdana,Geneva,Arial;font-size:14px;white-space:nowrap;
}

.marquee span {
	width:100%;
	height:30px;
	line-height:30px;
	position:absolute;
	top:0;
    -webkit-animation: mymove 60s linear infinite; /* Chrome, Safari, Opera */ 
    animation: mymove 60s linear infinite;
}

.void {
	width:100%;
	height: 30px;
}

.title {
	font-weight: bold;
	font-size: 1em;
}

#countdown {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 40px;
}

#countdown > div {
	padding: 15px;
	border-radius: 5px;
	background: #0066cc;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}

.btn-wrap-text {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

.box-width {
	width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
	.box-width {
		width: 75%;
	}
	.hd-text {
		font-size:12px; 
	}
	
	.hd-text-1 {
		font-size:20px;
	}
	
	.hd-text-2 {
		font-size:20px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
	.box-width {
		width: 75%;
	}
	.hd-text {
		font-size:14px; 
	}
	
	.hd-text-1 {
		font-size:50px;
	}
	
	.hd-text-2 {
		font-size:50px;
	}

	.title {
		font-size:1.1em;
	}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
	.box-width {
		width: 50%;
	}
	.hd-text {
		font-size:14px; 
	}
	
	.hd-text-1 {
		font-size:50px;
	}
	
	.hd-text-2 {
		font-size:50px;
	}

	.title {
		font-size:1.2em;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
	.box-width {
		width: 50%;
	}
	.hd-text {
		font-size:14px; 
	}
	
	.hd-text-1 {
		font-size:50px;
	}
	
	.hd-text-2 {
		font-size:50px;
	}

	.title {
		font-size:1.5em;
	}
}

.no-spinners {
	-moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button, .no-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.flash-button{
	color:#fff;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}